<form action="/create" method="post">
    <h2>Create</h2>

    <div class="input-field col s6">
        <input type="text" name="name">
        <label>Todo title</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>

